.weather-bg {
  background: url(https://i1.wp.com/www.safegardgroup.com/web-content/uploads/2019/09/severe-weather-scaled.jpeg?fit=2560%2C1706&ssl=1);
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: white;
}

.wresult {
  margin: auto;
  width: 460px;
  height: 210px;
  background-color: rgb(176, 175, 194);
  box-shadow: 400px;
  
}

.wicon {
  width: 100px;
  height: 80px;
  margin-left: 180px;
  margin-top: 20px;
  border-radius: 7px;
}

.wtemp {
  font-size: 35px;
  font-weight: 50px;
  margin-left: 180px;
}
.cname {
  margin-top: 20px;

  font-weight: 50px;
  margin-left: 200px;
}
